<table class="table table-striped">
    <tr><th colspan="2" class="bg-info">Food</th></tr>
    <tr><th>Name</th><td>{{food?.name || 'No Data'}}</td></tr>
    <tr><th>Category</th><td>{{food?.category || 'No Data'}}</td></tr>
    <tr>
    <th>Description</th>
    <td>{{food?.description || 'No Data'}}</td>
    </tr>
    <tr><th>Price</th><td>{{food?.price || 'No Data'}}</td></tr>
    <tr><th colspan="2" class="bg-info">Address</th></tr>
    <tr><th>Name</th><td>{{food?.address?.name}}</td></tr>
    <tr><th>City</th><td>{{food?.address?.city}}</td></tr>
    <tr><th>State</th><td>{{food?.address?.state}}</td></tr>
    <tr><th>Foods</th><td>{{food?.address?.foods?.length}}</td></tr>
</table>

<div class="text-center">
    <button class="btn btn-primary" routerLink="/table">Back</button>
</div>
       