<!-- Shows Order confirmation screen -->
<h2 class="text-center">Order Confirmation</h2>
<div class="container">
    <table *ngIf="order.orderConfirmation; else nodata" class="table m-2">
        <tr>
            <th>Order Number</th>
            <td>{{order.orderConfirmation.orderId}}</td>
        </tr>
        <tr>
            <th>Total Amount</th>
            <td>{{order.orderConfirmation.amount | currency:"USD" }}</td>
        </tr>
        <tr>
            <th>Estimated Delivery Time</th>
            <td>15 Minutes</td>
        </tr>
    </table>
    <div class="text-center">
        <p>Thank you for ordering with us!</p>
        <button class="btn btn-primary" routerLink="/">Return to Order Page</button>
    </div>
    <ng-template #nodata>
        <h3 class="text-center">Submitting Order...</h3>
    </ng-template>
</div>