<div class="row bg-dark">
    <div class="col">
        <div class="navbar navbar-dark">
            <a class="navbar-brand text-white">
                <i class="fa fa-map-marker"></i>
                <i class="fa fa-cutlery"></i>
                &nbsp;
                Food Delivery Service for Professionals
            </a>
        </div>
    </div>
</div>
<div class="m-1 container">
    <h2 class="text-center">Your Cart</h2>
    <table class="table table-bordered table-striped p-1">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Food</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <!-- Checks if cart is empty -->
            <tr *ngIf="cart.selections.length == 0">
                <td colspan="4" class="text-xs-center">
                    Your cart is empty
                </td>
            </tr>
            <!-- Print detail of cart if not empty -->
            <tr *ngFor="let sel of cart.selections">
                <td>
                    <input type="number" class="form-control-sm" style="width:5em" [(ngModel)]="sel.quantity" />
                </td>
                <td>{{sel.name}}</td>
                <td class="text-right">
                    {{sel.price | currency:"USD":"2.2-2"}}
                </td>
                <td class="text-right">
                    {{(sel.quantity * sel.price) | currency:"USD":"2.2-2" }}
                </td>
                <td class="text-center">
                    <!-- Method to remove item from cart -->
                    <button class="btn btn-sm btn-danger" (click)="cart.updateQuantity(sel.foodId, 0)">
                        Remove
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    {{cart.totalPrice | currency:"USD":"2.2-2"}}
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="text-center">
    <button class="btn btn-dark" routerLink="/store">Continue Shopping</button>
    <button class="btn btn-primary" routerLink="/checkout" [disabled]="cart.selections.length == 0">
        Checkout
    </button>
</div>