<div class="m-1">
        <!-- When a button is clicked, the filter will change to the value of the button -->
        <button class="btn btn-outline-primary btn-block" (click)="setCurrentCategory(null)">
            All Categories
        </button>
        <!-- We're looping through category items and presenting it as a button -->
        <button *ngFor="let category of categories" 
                class="btn btn-outline-primary btn-block" 
                [class.active]="currentCategory == category"
            (click)="setCurrentCategory(category)">
            {{category}}
        </button>
    </div>
    