<!-- First we check if there are food items in our collection, and then loop through -->
<div class="container">
    <div *ngIf="foods?.length > 0; else nodata">
        <div *ngFor="let food of foods" class="card card-outline-primary m-1">
            <div class="card-header">
                <span class="h4">
                    <img src="{{food.image}}" alt="[Image Missing]" width="220px" height="150px" />{{food.name}}
                    <store-ratings [food]="food"></store-ratings>
                </span>
                <h4 class="float-right">{{food.price | currency:"USD"}}</h4>
            </div>
            <div class="card-block">
                <span class="card-text p-a-1">{{food.description}}</span>
                <button class="float-right btn btn-dark" (click)="addToCart(food)">
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Show this if there is no data -->
<ng-template #nodata>
    <h4 class="m-1">Waiting for data...</h4>
</ng-template>