<div class="row bg-dark">
    <div class="col">
        <div class="navbar navbar-dark">
            <a class="navbar-brand text-white">
                <i class="fa fa-map-marker"></i>
                <i class="fa fa-cutlery"></i>
                &nbsp;
                Food Delivery Service for Professionals
            </a>
        </div>
    </div>
    <div class="col-3 text-white mr-1 text-right">
        <store-cartsummary></store-cartsummary>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-3">
        <store-categoryfilter></store-categoryfilter>
    </div>
    <div class="col">
        <store-food-list></store-food-list>
        <store-pagination></store-pagination>
    </div>
</div>


<footer style="background: black; color: white;   position: fixed; left: 0; bottom: 0; width: 100%;">
    <p>To view Admin page, please go <a href="admin">here</a> </p>
</footer>