<table class="table table-sm table-striped">
    <tr>
    <th>Name</th><th>Category</th><th>Price</th>
    <th>Address</th><th>Ratings</th>
    </tr>
    <tr *ngFor="let food of foods">
    <td>{{food.name}}</td>
    <td>{{food.category}}</td>
    <td>{{food.price}}</td>
    <td>{{food.address?.name || 'None'}}</td>
    <td>{{food.ratings?.length || 0}}</td>
    </tr>
</table>

<button class="btn btn-primary m-1" (click)="createFood()">
    Create Food
    </button>
    <button class="btn btn-primary m-1" (click)="createFoodAndAddress()">
    Create Food and Address
</button>


<!-- 
<table class="table table-sm table-striped">
  <tr><th colspan="2" class="bg-info">Food</th></tr>
  <tr>
	<th>Name</th>
	<td>{{food?.name  || 'Loading Data..'}}</td>
  </tr>
  <tr>
	<th>Category</th>
	<td>{{food?.category  || 'Loading Data..'}}</td>
  </tr>
  <tr>
	<th>Description</th>
	<td>{{food?.description  || 'Loading Data..'}}</td>
  </tr>
  <tr>
    <th>Price</th>
	<td>{{food?.price  || 'Loading Data..'}}</td>
  </tr>
  <tr><th colspan="2" class="bg-info">Address</th></tr>
  <tr><th>Name</th><td>{{food?.address?.name}}</td></tr>
  <tr><th>City</th><td>{{food?.address?.city}}</td></tr>
  <tr><th>State</th><td>{{food?.address?.state}}</td></tr>
  <tr><th>Foods</th><td>{{food?.address?.foods?.length}}</td></tr>  
</table> -->
