<!-- Summary statistics page -->

<table class="table m-1">
    <tr>
        <!-- Counts the number of items in the JSON response -->
        <td>There are {{foods?.length || 0}} foods for sale</td>
        <td><button style="background-color: #17a2b8" class="btn btn-sm btn-info btn-block"
                routerLink="/admin/foods">Manage Foods</button></td>
    </tr>
    <tr>
        <td>There are {{orders?.length || 0}} orders</td>
        <td><button style="background-color: #17a2b8" class="btn btn-sm btn-info btn-block"
                routerLink="/admin/orders">Manage Orders</button></td>
    </tr>
</table>